# Unfortunately, cabal uses /home/runner/REPL_SLUG in its configuration,
# so forking forgets everything. That's why we're doing cabal update here.
run = "cabal update && { echo 'putStrLn \"Hello world!\"' ; cat - ; } | exec cabal repl"
entrypoint = "app/Main.hs"

[nix]
channel = "stable-24_05"

[languages.haskell]
pattern = "**/*.hs"

[languages.haskell.languageServer]
start = ["haskell-language-server-wrapper", "--lsp"]

[gitHubImport]
requiredFiles = [".replit", "replit.nix", ".ghci"]

[workflows]

[[workflows.workflow]]
name = "Run Tests"
author = 15957099
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "cabal build"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "cabal test"
